<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro  name="box_bot_body" params="parent_name">

      <link name="base_link">
      </link>

      <link name="${parent_name}">
        <!-- pose and inertial -->
        <pose>0 0 0 0 0 0</pose>
        <inertial>
          <mass value="${base_box_mass}"/>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <xacro:box_inertia mass="0.2" x="${base_box_x}" y="${base_box_y}" z="${base_box_z}"/>
          <inertia ixx="0.000241935" ixy="0" ixz="0" iyy="0.000241935" iyz="0" izz="0.000241935"/>
        </inertial>
        <!-- body -->
        <collision name="collision_${parent_name}">
          <geometry>
            <box size="${base_box_x} ${base_box_y} ${base_box_z}"/>
          </geometry>
        </collision>

        <visual name="visual_${parent_name}">
          <geometry>
            <box size="${base_box_x} ${base_box_y} ${base_box_z}"/>
          </geometry>
        </visual>
      </link>

      <gazebo reference="chassis">
        <material>Gazebo/Red</material>
      </gazebo>

      <joint name="base_link_joint" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0" />
        <parent link="base_link" />
        <child link="${parent_name}" />
      </joint>

    </xacro:macro >

</robot>